mixin invoice({ standing, standingPrice, services, servicesPrice, additional, additionalPrice, total })
  .invoice
    .invoice__row
      .invoice__service!= standing
      div.invoice__sum!= standingPrice
    .invoice__row
      .invoice__service.invoice__service_with-icon!= services
      div.invoice__sum!= servicesPrice
    .invoice__row
      .invoice__service.invoice__service_with-icon= additional
      div.invoice__sum!= additionalPrice
    .invoice__row.invoice__row_font-large
      h2.invoice__block Итого
      .invoice__line
      h2.invoice__block!= total
