mixin range-dates(data)
  .range-dates
    label.range-dates__label.range-dates__label--small= data.firstLabel
      span.range-dates__wrapper
        input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ" id=data.firstInputId)
    label.range-dates__label.range-dates__label--small= data.secondLabel
      span.range-dates__wrapper
        input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ" id=data.secondInputId)


mixin date-dropdown(data)
  .range-dates
    label.range-dates__label= data.label
      span.range-dates__wrapper
        input.range-dates__date-dropdown(placeholder="ДД.ММ.ГГГГ" value=data.date)