include ../subscription/subscription 
include ../socials/socials

mixin footer(data)
  - 
    data.main = data.main || "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
    data.navigation = data.navigation || [
      {
        title: 'Navigation',
        links: [
          { url: 'index.html', text: 'About Us' },
          { url: 'index.html', text: 'News' },
          { url: 'index.html', text: 'Support' },
          { url: 'index.html', text: 'Products' },
        ]
      },
      {
        title: 'About Us',
        links: [
          { url: 'index.html', text: 'About Us' },
          { url: 'index.html', text: 'Our team' },
          { url: 'index.html', text: 'Careers' },
          { url: 'index.html', text: 'Investors' },
        ]
      },
      {
        title: 'Support',
        links: [
          { url: 'index.html', text: 'Documentation' },
          { url: 'index.html', text: 'Community' },
          { url: 'index.html', text: 'Get in Touch' },
        ]
      },
    ]
    data.copy = data.copy || "Copyright © 2018 Toxin UI Kit. All rights reserved."
    data.subscription = data.subscription || {
      title: 'Subscribe to out newsletter',
      text: 'Receive our latest news and promotions in your inbox!',
      placeholder: 'Your email address'
    }

  footer.footer
    .footer__container.wrapper
      section.footer__block
        .site-logo
        p.footer__text= data.main
      .footer__nav-container
        each link_block in data.navigation
          section.footer__nav
            .footer__block__header
              h3= link_block.title
            p
              each link in link_block.links
                a.footer__link(href=link.url)= link.text
    
      section.footer__block
        .footer__block__header
          h3= data.subscription.title
        p= data.subscription.text
        +subscription({ placeholder: data.subscription.placeholder })
    
    section.footer__line
      .footer__copy.wrapper
        p= data.copy
        +socials()