mixin donut(data)
  
  svg(width="50%" height="50%" viewBox="0 0 42 42" class="donut")
    circle(
        cx="21" 
        cy="21" 
        r="15.91549430918952" 
        fill="#fff"
    )

    // excellent
    circle(
        cx="21" 
        cy="21" 
        r="15.91549430918952" 
        fill="transparent" 
        stroke="#BC9CFF" 
        stroke-width="4" 
        stroke-dasharray="25 75"
        stroke-dashoffset="25"
        stroke-alignment="inner"
    )
    // good
    circle(
        cx="21" 
        cy="21" 
        r="15.91549430918952" 
        fill="transparent" 
        stroke="#6FCF97" 
        stroke-width="2"
        stroke-dasharray="25 75"
        stroke-dashoffset="100"
    )
    //normal
    circle(
        cx="21" 
        cy="21" 
        r="15.91549430918952" 
        fill="transparent" 
        stroke="#FFE39C" 
        stroke-width="2" 
        stroke-dasharray="50 50"
        stroke-dashoffset="75"
    )
    // bad
    circle(
        cx="21" 
        cy="21" 
        r="15.91549430918952" 
        fill="transparent" 
        stroke="#919191" 
        stroke-width="2" 
        stroke-dasharray="1"
        stroke-dashoffset="0"
    )
    