include ../like/like

mixin comment({image, author, date, like, text})
  article.comment
    img.comment__avatar(src=require(`blocks/comment/images/${image}`) alt="user avatar")
    div.comment__author-container
      .comment__author= author
      .comment__date= date
    .comment__like
      +like(like)
    .comment__text= text